.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: 0.15vw white;
}

.title {
    font-size: 5vw;
    margin: 0
}

.center {
    text-align: center;
}

.links-container {
    display: grid;
    justify-content: center;
    font-size: 3vw;
}

.shake:hover, a:hover {
    top: 0;
    position: relative;
    animation: alternate shake 200ms;
    animation-iteration-count: infinite;
}

.links-encasing {

}

.links-title {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hr-line {
    color: hotpink;
    margin: 2vw;
}


a {
    color: black;
    text-decoration: none;
    border: 0.2vw solid #ffa1c3;
    border-radius: 50px;
    padding: 0 2vw 0 2vw;
}

a:hover {
    background: lightgray;
    border: 0.2vw solid white;
    border-radius: 50px;
    padding: 0 2vw 0 2vw;
}

body {
    background: #ffa1c3;
}



@keyframes shake {
    0% {transform: rotate(0)}
    25% {transform: rotate(2deg)}
    50% {transform: rotate(0)}
    75% {transform: rotate(-2deg)}
}
